<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123201711059-o1pbhe4p4c02raj8vk0r8hl1d8hn982p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123201711059-o1pbhe4p4c02raj8vk0r8hl1d8hn982p</string>
	<key>API_KEY</key>
	<string>AIzaSyCmqstIg0cyf4JN7zBoArpoCmry2KKxMCw</string>
	<key>GCM_SENDER_ID</key>
	<string>123201711059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ChangGyuKim.ArtBridge</string>
	<key>PROJECT_ID</key>
	<string>artbridge-with-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>artbridge-with-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123201711059:ios:2542e5bc175be4ebf2dd26</string>
</dict>
</plist>